<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    <title>Fridge-Log</title>
    <link rel="stylesheet" href="style.css" />
    <script type="text/javascript" src="script.js"></script>
  </head>
  <body>
    <div class="header">
      <div class="header-logo">FridgeLog</div>
      <div class="header-list">
        <ul>
          <li><a href="/recording">記録をする</a></li>
          <li><a href="/viewing">記録を見る</a></li>
        </ul>
      </div>
    </div>

    <div class="main">
      <div class="copy-container">
        <h1>Fridge-Log</h1>

    <div class="footer">
    </div>
  </body>
</html>